body {
  background: rgb(193, 193, 193);
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-link {
  padding: 10px;
  /* border: 1px solid #3838e1; */
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border: 2px solid transparent;
  background-clip: padding-box;
  margin: 5px;
  flex: 1;
  width: 100%;
  max-width: 280px;
  min-width: 280px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  box-shadow: 10px 10px 10px black;
  transition: all 0.3s cubic-bezier(0, 0, 0.29, -0.54);
}

.card-link:hover {
  transform: scale(1.1);
}
